.wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden
}

.pdf-icon {
	font-size: 100%;
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 5em;
	height: 6em;
	background-color: #eee;
	background-image: url('pdf.png');
	background-repeat: no-repeat;
	background-size: 60% auto;
	background-position: center 2em;
	border-radius: 1px 2em 1px 1px;
	border: 1px solid #ddd
}

pdf-icon::after {
	content: 'PDF';
	font-family: Arial;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	padding: .2em 0 .1em;
	color: white;
	display: block;
	position: absolute;
	top: .7em;
	left: -1.5em;
	width: 3.4em;
	height: auto;
	background: #da2525;
	border-radius: 2px;
}

/* scroll to top */
#scroll {
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: #3498db;
	text-indent: -9999px;
	display: none;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px
}

#scroll span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -12px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-bottom-color: #ffffff;
}

#scroll:hover {
	background-color: #e74c3c;
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}

/* end of scroll to top */

.table-fit {
	width: 1px;
}

table.table-bordered>thead>tr>th {
	font-weight: normal;

}

table td {
	white-space: nowrap !important;
}

th {
	/* font-size: 15px; */
	text-align: center;
	/* align:"center"; */
}

	
.select2-selection__rendered {
	text-align: left;
	/* margin-top: -1px !important; */
	margin-left: -7px;
}

.customTable thead tr th,
.customTable tbody tr td {
	font-size: 15px;
}


.customTable thead {
	background-color: lightblue;
}

.customTable th {
	border-top: 1px solid rgb(117, 117, 117) !important;
	border-left: 1px solid rgb(117, 117, 117) !important;
	border-right: 1px solid rgb(117, 117, 117) !important;
	border-bottom: 1px solid rgb(117, 117, 117) !important;

}

.customTable td {
	padding: 10px;
	border-bottom: 1px solid rgb(117, 117, 117) !important;
	/* border-top: 1px solid black !important; */
	border-left: 1px solid rgb(117, 117, 117) !important;
	border-right: 1px solid rgb(117, 117, 117) !important;
	border-collapse: collapse;
}

.customTable thead th {
	font-weight: bold;
}

.customTable tbody tr td {
	border-color: #ddd;
}

.customTable tbody tr:hover {
	background-color: #ddd;
}

.customTable tbody tr td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.customTableDetail thead > tr > th {
	padding-right : 5px !important;
	padding-left : 5px !important;
	text-align: center;
}


.customspan {
	color: #dd4b39;
	margin-left: 13px;
}

.table-Detail thead tr th {
	font-weight: bold !important;
	background : lightblue;
	border:1px solid;
}

.table-Detail tbody tr td {
	border:1px solid;
}

.table-Detail{
	border:1px solid;
}

.select2-container--open .select2-dropdown--below {
	width: auto !important;
	max-width: 550px !important;
	min-width: 249.141px;
	white-space: nowrap;
}

.customSelect2xs .select2-container {
	width: 110px !important;
}

.customSelect2Lg .select2-container {
	width: 180px !important;
}

.tableModal>tbody>tr>th {
	height: 35px;
}

.tableModalDetail>tbody>tr>th,
.tableModalDetail>tbody>tr>td {
	height: 30px;
	border: 1px solid black;
}

.main-header {
	position: fixed;
	width: 100%;
}

.main-sidebar {
	position: fixed;
}

.content-header {
	top: 45px;
	position: fixed;
	z-index: 999;
	width: 97%;
	border-bottom: 3px solid #d2d6de;
	padding-bottom: 6px;
	background: white !important;
	margin-left: 4px;
}

.box-content {
	margin-top: 28px;
	top: 50px;
	border-top: none;
}

.box-filter {
	margin-top: 10px;
	top: 50px;
	border-top: none;
}

.dataTables_scrollBody {

	height: 600px !important;
}

.breadcrumb {
	position: fixed !important;
	margin-top: 45px !important;
}

.table-filter>tbody>tr>td {
	padding-top: 0px;
	padding-bottom: 5px;
}

.table-filter {
	margin-bottom: 5px;
	margin-left: -3px;
}

.customInputXg {
	height: 28px;
	border-radius: 4px !important;
	border-color: #a5a5a0;
	width: 390px !important;
}

.customInputLg {
	height: 28px;
	border-radius: 4px !important;
	border-color: #a5a5a0;
	width: 270px !important;
}

.customSelect2sm .select2-container {
	width: 120px !important;
}

.customSelect2md .select2-container {
	width: 180px !important;
	/* height: 15px !important; */
}

.customInput {
	width:100px !important;
	height: 28px;
	border-radius: 4px !important;
	border-color: #a5a5a0;
}

.has-error-select > .select2 > .selection > .select2-selection--single {
	border-color:#a94442;
}

.has-error-select > .help-block {
	color:#a94442;
}
	
.image-upload > input {
	display:none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#444;
    line-height:20px !important;
}